<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html>
<head>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">

</head>
<body>
	<div class="hight_def2"></div>
	<div class="container">
		<div class="well">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-7">
					<form id="frm" method="post" class="form-horizontal" action="/doAddBook">
						<h3>增加功能</h3>
						<table width="100%" class="table">
							<tr>
								<td align="right">书名：</td>
								<td><input type="text" name="bname" class="formcontrol"></td>
							</tr>
							<tr>
								<td align="right">作者：</td>
								<td><input type="text"  name="author" class="formcontrol"></td>
							</tr>

							<tr>
								<td align="right">出版社：</td>
								<td><input type="text" name="publish" class="formcontrol"></td>
							</tr>

							<tr>
								<td align="right">价格：</td>
								<td><input type="text" name="price" class="formcontrol"></td>
							</tr>
							<tr>
								<td align="right"></td>
								<td><input type="submit" value="增加书籍" 	class="btn btn-success btn-block"></td>
							</tr>
						</table>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>
</body>
</html>