<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div style="margin-top: 100px;"></div>
        <div class="col-xs-6 col-xs-offset-4">

            <form name="register" action="/Register" method="post" class="form-horizontal" role="form">

                <div class="form-group">
                    <label class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-10">
                        <input type="text" class="checkbox" name="uname" placeholder="用户名">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">密 &nbsp;&nbsp;码</label>
                    <div class="col-sm-10">
                        <input type="password" class="checkbox" name="upwd" placeholder="密码">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">性 &nbsp;&nbsp;别</label>
                    <div class="col-sm-10">
                        <input type="text" class="checkbox" name="gender" placeholder="性别">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">电子邮箱</label>
                    <div class="col-sm-10">
                        <input type="text" class="checkbox" name="email" placeholder="电子邮箱">
                    </div>
                </div>
                <div class="row">
                    <div style="margin: 50px;">
                        <div class="col-xs-6 col-xs-offset-1">
                            <button type="reset" class="btn btn-primary">重置</button>
                            <button type="submit" class="btn btn-warning">注册</button>
                        </div>
                    </div>
                </div>
                <span th:text="${msg}" style="color: red; text-align: center"></span>

            </form>
        </div>
    </div>
</div>
</body>
</html>